<div *ngIf="viewMode; else editable">
    <div *ngIf="currentTask.id">
        <h4>Task</h4>
        <div>
            <label><strong>Type:</strong></label> {{ currentTask.type }}
        </div>
        <div>
            <label><strong>Description:</strong></label> {{ currentTask.description }}
        </div>
        <div>
            <label><strong>Status:</strong></label> {{ currentTask.active ? "Pending" : "Done" }}
        </div>

        <a class="badge badge-warning" routerLink="/task/{{ currentTask.id }}">
    Edit
  </a>
    </div>

    <div *ngIf="!currentTask">
        <br />
        <p>Please click on a task...</p>
    </div>
</div>

<ng-template #editable>
    <div *ngIf="currentTask.id" class="edit-form">
        <h4>Task</h4>
        <form>
            <div class="form-group">
                <label for="title">Type</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="currentTask.type" name="title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentTask.description" name="description" />
            </div>

            <div class="form-group">
                <label><strong>Status:</strong>{{ currentTask.active ? "Pending" : "Done" }}</label>
            </div>
        </form>

        <button class="badge badge-primary mr-2" *ngIf="currentTask.active" (click)="updatePublished(false)">
        Done
  </button>
        <button *ngIf="!currentTask.active" class="badge badge-primary mr-2" (click)="updatePublished(true)">
    Pending
  </button>

        <button class="badge badge-danger mr-2" (click)="deleteTask()">
    Delete
  </button>

        <button type="submit" class="badge badge-success mb-2" (click)="updateTask()">
    Update
  </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentTask.id">
        <br />
        <p>Cannot access this task...</p>
    </div>
</ng-template>
