<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">TroningT</a>
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="tasks" class="nav-link">ToDo App</a>
            </li>
            <li class="nav-item">
                <a routerLink="add" class="nav-link">Create new task</a>
            </li>
        </div>
    </nav>

    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
</div>